.btn {
  font-family: inherit;
  background-color: #2196f3;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  cursor: pointer;
}
.hero-button {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
