.logo {
  font-family: "raleway";
  font-size: 26px;
  line-height: 1.19;
  color: var(--header-color);
  margin-right: 93px;
}
.logo-color {
  color: var(--accent-color);
}
.logo-footer {
  color: var(--primary-title-color);
}
.logo-footer-block {
  margin-bottom: 20px;
}
.logo-footer-bottom {
  display: block;
  font-family: "raleway";
  font-size: 26px;
  line-height: 1.19;
  color: var(--header-color);
}
