.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.clients-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.clients-list .clients-item {
  width: 170px;
  height: 92px;
  color: var(--primary-text-color);
}

.clients-container:not(:last-child) {
  margin-right: 30px;
}

.clients-item-icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients-item:hover .clients-item-icon,
.clients-item:focus .clients-item-icon {
  fill: var(--accent-color);
}
