.footer {
  background-color: var(--background-hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
  // margin-right: auto;
  // margin-left: auto;
}

.logo-footer {
  color: var(--primary-title-color);
}
.logo-footer-block {
  margin-bottom: 20px;
}
.logo-footer-bottom {
  display: block;
  font-family: "raleway";
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.contacts-tel .link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.contacts-mailto .link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.contacts-adress {
  color: var(--primary-title-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer-list {
  display: flex;

  @media screen and (min-width: 480px) {
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}
.footer-title {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-icon {
  fill: #ffffff;
}
.footer-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-conteiner {
  text-align: center;

  @media screen and (min-width: 780px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-left {
  @media screen and (min-width: 780px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}
.footer-center {
  @media screen and (min-width: 480px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer-right {
  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }
}

.footer-form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
