.benefits-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits-icon {
  fill: var(--header-color);
  display: block;
}

.benefits-container-block:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.benefits-icon-block {
  display: flex;
  width: 450px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 120px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 120px;
  }
}

.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 10px;
  align-items: center;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.benefits-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.benefits-block {
  width: 450px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

// .benefits-container-block:not(:last-child) {
//   margin-right: 30px;
// }
